* {
    box-sizing: border-box;
    color: #F3F1EF;
}

body {
    background-color: #272023;
    font-family: 'Oswald', sans-serif;

}

.header {
    background-color: #215B7C;
    box-shadow: 1px 1px 10px #050304;
    text-align: center;
    width: 100%;
}

.logo {
    padding: 20px;
}

.container {
    text-align: center;
    margin-top: 150px;
}

.container h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
}

.button {
    padding: 18px 80px;
    border-radius: 40px;
    border-style: none;
    background-color: #F3F1EF;
}

.container p {
    padding: 5px;
    font-weight: 300;
    font-size: 24px;
    word-spacing: 2px;
}

.container-p {
    padding-top: 20px;
}



/* POSTER DO FILME */
.film {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.film-img {
    float: left;
    margin-right: 25px;
    max-width: 180px;
}

.film h2 {
    font-size: 25px;
    font-weight: 700;
    padding-top: 10px;
    margin-bottom: 40px;
}

.film p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
}

.film-button {
    margin-top: 40px;
    padding: 18px 80px;
    border-radius: 40px;
    border-style: none;
    background-color: #F3F1EF;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.film-container {
    width: 100%;
    display: inline-block;
}

@media (max-width: 800px) {
    .film {
        width: 300px;
    }

    .film-img {
        float: none;
        margin-right: 0;
    }

    .film-button {
        position: static;
        transform: none;
        left: none;  
        bottom: none;
    }
}